<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="io.emma.emmaxamarinsample_android">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25" />
	<!-- eMMa Required Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- If you plan to use Android Advertising ID -->
	<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	<!-- eMMa Push Permissions -->
	<permission android:name="io.emma.emmaxamarinsample_android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="io.emma.emmaxamarinsample_android.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<receiver android:name="com.emma.android.eMMaReferralReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:name="com.emma.android.eMMaGCMReceiver" />
		<receiver android:name="com.emma.android.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="io.emma.emmaxamarinsample_android" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.emma.android" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="io.emma.emmaxamarinsample_android" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.emma.android.eMMaPushBroadcastReceiver" android:exported="false">
			<intent-filter>
				<action android:name="io.emma.emmaxamarinsample_android.PUSH_OPEN" />
			</intent-filter>
		</receiver>
		<meta-data android:name="io.emma.SESSION_KEY" android:value="@string/emma_session_key" />
	</application>
</manifest>